<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:field="job.name+' | Edit'">Job name | Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body>
<div class="div-top">
    <h1 class="h1-left" th:field="'Work manager'+job.name"><a class="wm-link" href="/workmanager"> Work Manager: Job name</a></h1>
</div>
<div class="edit">
    <a th:href="'/jobs/'+${job.id}+'/edit'">
        <button class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
        </button>
    </a>
</div>
<div>
    <h2>Job INFO:</h2>
    <div>
        <img class="icon" th:src="@{/images/job.png}" src="../static/images/job.png" alt="Default photo of person">
    </div>
    <div class="info">
        <p th:text="'Job Id:        '+${job.id}">          Job ID:          0</p>
        <p th:text="'Name:          '+${job.name}">        Name:            null</p>
        <p th:text="'Difficulty:    '+${job.difficulty}">  Difficulty:      null</p>
        <p th:text="'Time:          '+${job.time}">        Address:         null</p>
        <p th:text="'Finished:      '+${job.finished}">    Skill:           0</p>
    </div>
</div>
</body>
</html>