

h2{
    margin-left: 50px;
}
.btn-primary{
/*background: #68b474;*/
/*background: #ffb040;*/
    background-color: seagreen;
    border: lightgray;
    color: white;
    box-shadow: 0px 1px 5px lightgrey;
    min-width: 100px;
}
.btn-primary:hover{
    background-color: darkseagreen;
}

.btn-secondary{
    background-color: seagreen;
    border: lightgray;
    color: white;
    box-shadow: 0px 1px 5px lightgrey;
}
.edit{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

.table-block{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.line{
/*background: #B6E4A9;*/
/*background: #E9F5E7;*/
background: #F0FDF0;
}
.div-top{
    background: #68b474;
    margin-bottom: 20px;
    box-shadow: 0px 5px 7px lightgrey;
}
.h1-left{
    text-align: left;
    margin-left: 30px;
    padding: 20px;
}
.float-jobs-container {
    border: none;
    padding: 20px;
}
.float-jobs-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
}
.my-jobs{
    width: 90%;
    padding: 10px;
}

.alert-danger{
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    width: 90%;
}

.alert-success{
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    width: 90%
}

.alert-question{
    margin: 10px;
    padding: 10px;
}

.form{
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.question{
    text-align: center;
    padding-top: 10%;
    margin: auto;
    width: 50%;
}

.form-line{
    padding: 5px 15px;

}

.side-buttons{
    /*margin: 10px;*/
    padding: 60px;
}

.right-button{
    padding-top: 50px;
    float: right;
}


.left-button{
    padding-top: 50px;
    float: left;
}
.button{
    margin: 10px;
    padding: 20px;
}

.info{
    margin: 50px 50px 150px;
}

.wm-link{
    color: black;
    underline: none;
}


a.wm-link:link{
    text-decoration: none;
}

a.wm-link:visited{
    text-decoration: none;
}

a.wm-link:hover{
    transition: dimgray 2s ease-out;
    color: dimgray;
    text-decoration: none;
}

a.wm-link:active{
    text-decoration: none;
}

.box{
    float: left;
    width: 30px;
    height: 30px;
}

.icon{
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    width: 20%;
    max-width: 225px;
}